<h1>Esqueci minha senha<h1>

<p>
  Digite seu email para recuperar:
</p>

<%= form_for :usuario, url: :redefinir_senha do |form| %>
  <%= form.label "Email" %>
  <%= form.email_field :email %>

  <%= form.submit "Busca" %>
<% end %>
